* {
    font-family: 'Press Start 2P', monospace;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333;
}

#startScreen {
    display: grid;
    grid-template-rows: .75fr .25fr;
    grid-gap: 10px;
    height: 800px;
    width: 1000px;
    position: relative;
    border: 1px solid black;
    margin: 20px auto;
    padding: 10px;
    background: linear-gradient(-45deg, #49256D, #976DC1, #6C4A8E, #49256D);
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
}

#logo {
    display: grid;
    place-self: center center;
    grid-row: 1 / span 1;
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100px;
    box-sizing: border-box;
    margin: 10px 0;
}

#input-text {
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    margin: 10px;
    padding: 12px 2px;
    box-shadow: 7px 4px 0 0 #333;
    border-radius:10px;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}

#submit {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    margin: 10px;
    padding: 8px 4px;
    box-shadow: 3px 3px 0 0 #333;
    border-radius:10px;
    font-family: 'Press Start 2P', monospace;
}

#mainContainer {
    display: grid;
    grid-gap: 10px;
    height: 800px;
    width: 1000px;
    position: relative;
    border: 1px solid black;
    background-color: #00012b;
    margin: 20px auto;
    padding: 30px;
}

#startScreen.hidden,
#mainContainer.hidden {
    display: none;
}

#hostContainer {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: .25fr .25fr .5fr;
}

#hostBar {
    grid-column: 1/span 1;
    grid-row: 1/span 3 ;
    color: #c9e6ec;
    text-shadow: 4px 4px #040406;
    background: linear-gradient(90deg, #002b6f, #00318d, #00318d, #002b6f);
    animation: gradient 15s ease infinite;
    border: 2px solid #a9a7aa;
    border-radius:7px;
    padding: 10px 10px;
}

.nameAndLvl {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 150%;
    margin: 10px 4px;
}

.hpBar {
    grid-row: 2/span 1;
    height: 25px;
    width: 88%;
    align-self: start;
    margin: 5px 0 0 0;
}

label {
    margin: 0px 4px;
}

.question {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    line-height: 1.5;
    padding: 0px 30px;
}

#hostImage {
    display: block;
    width: 100%;
    height: 100%;
    grid-column: 2/span 1;
    grid-row: 1/span 3 ;
}

#userContainer {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
}

#userBar {
    grid-column: 2/span 1;
    grid-row: 2/span 2;
    color: #c9e6ec;
    text-shadow: 4px 4px #040406;
    background: linear-gradient(90deg, #002b6f, #00318d, #00318d, #002b6f);
    animation: gradient 15s ease infinite;
    border: 2px solid #a9a7aa;
    border-radius:7px;
    padding: 10px 10px;
}

#userImage {
    display: block;
    width: 100%;
    height: 100%;
    grid-column: 1/span 1;
    grid-row: 1/span 3 ;
}

#battleContainer {
    height: 200px;
    border: 2px solid #a9a7aa;
    border-radius:7px;
    background: linear-gradient(90deg, #002b6f, #00318d, #00318d, #002b6f);
    animation: gradient 15s ease infinite;
}

.menu {
    display: grid;
    grid-template-columns: .4fr .2fr .2fr .2fr;
    grid-template-rows: .5fr .5fr;
    height: 100%;
    color: #c9e6ec;
    text-shadow: 4px 4px #040406;
}

#captionBar {
    grid-column: 1/span 2;
    grid-row: 1/span 2;
    background: linear-gradient(90deg, #002b6f, #00318d, #00318d, #002b6f);
    animation: gradient 15s ease infinite;
    border: 2px solid #a9a7aa;
    padding: 10px 30px;
}

#play {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    padding: 10px;
}

#help {
    grid-column: 4/span 1;
    grid-row: 1/span 1;
    padding: 10px;
}

#hint {
    grid-column: 3/span 1;
    grid-row: 2/span 1;
    padding: 10px;
}

#run {
    grid-column: 4/span 1;
    grid-row: 2/span 1;
    padding: 10px;
}

#mainMenu.hidden,
#playMenu.hidden,
#helpMenu.hidden,
#hintMenu.hidden,
#messageMenu.hidden,
#verifyMenu.hidden {
    display: none;
}

.choices {
    padding: 10px;
    font-size: 20px;
    color: #c9e6ec;
    text-shadow: 4px 4px #040406;
    background: linear-gradient(90deg, #002b6f, #00318d, #00318d, #002b6f);
    animation: gradient 15s ease infinite;
    border: 2px solid #a9a7aa;
}

#choice1 {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

#choice2 {
    grid-column: 2/span 2;
    grid-row: 1/span 1;
}

#choice3 {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

#choice4 {
    grid-column: 2/span 2;
    grid-row: 2/span 1;
}

.backButton {
    grid-column: 4/span 1;
    grid-row: 1/span 1;
}

#howToPlay {
    grid-column: 1/span 3;
    grid-row: 1/span 2;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
}

#fifty50 {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
}

#call-a-trainer {
    grid-column: 2/span 2;
    grid-row: 1/span 2;
}

#messageMenu {
    padding: 10px 30px;
}

.message {
    grid-column: 1/span 3;
}

#fifty50.hidden,
#call-a-trainer.hidden {
    display: none;
}

.playButton.choices.wrong.hidden {
    display: none;
}

#verifyMessage {
    padding: 10px 30px;
}

#verifyButton {
    grid-column: 4/span 1;
    grid-row: 2/span 1;
}